In [1]:
import pandas as pd
import requests
import json
import datetime
import tqdm
import time
from multiprocessing.dummy import Pool
from multiprocessing import cpu_count, freeze_support

In [2]:
token = 'aef4a8fcaef4a8fcaef4a8fc0cae9b7455aaef4aef4a8fcf0a5acac7eb6b17369a4d378'

In [3]:
publics = pd.DataFrame({
    'owner_id':['-6050194', '-193186817', '-161610747', '-128411654', '569689032', '-179333837', '-200210651', '-171049283', '-83958801'],
    'domain':['dtpche', 'derevya_cherepovtsa', 'komandacher', 'tos_cher', 'germanovve', 'public_happy_city', 'shagi_che', 'che_104', 'club83958801'],
    'name': ['–î–µ—Ä–µ–≤—å—è —á–µ—Ä–µ–ø–æ–≤—Ü–∞', '–ú–æ–π –ß–µ—Ä–µ–ø–æ–≤–µ—Ü', '–¢–û–° –ß–µ—Ä–µ–ø–æ–≤–µ—Ü', '–ø—É–±–ª–∏—á–Ω–∞—è —Å—Ç—Ä–∞–Ω–∏—Ü–∞ –º—ç—Ä–∞ –≥–æ—Ä–æ–¥–∞', '–ü–µ—à–µ—Ö–æ–¥–Ω–∞—è –∑–æ–Ω–∞. –ß–µ—Ä–µ–ø–æ–≤–µ—Ü.', '–ü–µ—à–µ—Ö–æ–¥–Ω–∞—è –∑–æ–Ω–∞. –ß–µ—Ä–µ–ø–æ–≤–µ—Ü.', '–ü—Ä–æ–µ–∫—Ç–Ω–∞—è –≥—Ä—É–ø–ø–∞ –®–ê–ì–ò', '–ß–µ—Ä–µ–ø–æ–≤–µ—Ü | –ó–∞—à–µ–∫—Å–Ω–∏–Ω—Å–∫–∏–π | 104 | –°—Ç–æ—á–∏–∫', '–¢–û–° "–ò–Ω–¥—É—Å—Ç—Ä–∏–∞–ª—å–Ω—ã–π‚Äù']
})

In [4]:
df_pages = []

In [55]:
def get_wall(owners_id):
    for owner_id in owners_id:

        domain = publics.set_index('owner_id').loc[owner_id, 'domain']
        df = dict_first_page[owner_id]
        df['domain'] = domain
        df_pages.append(df)

        for offset in tqdm.notebook.tqdm(range(100, dict_counts[owner_id], 100)):
            try:
                url = 'https://api.vk.com/method/wall.get?owner_id={}&domain={}&count=100&offset={}&extended=1&access_token={}&v=5.131'.format(owner_id, domain, offset, token)
                page = requests.get(url).text
                response = json.loads(page)['response']
                df = pd.json_normalize(response['items'])
                df['domain'] = domain
                df_pages.append(df)
                time.sleep(1)
                
            except Exception as e:
                print(e)

In [6]:
dict_first_page = {}
dict_counts = {}

In [7]:
for owner_id, domain in publics[['owner_id', 'domain']].values:

    url = 'https://api.vk.com/method/wall.get?owner_id={}&domain={}&count=100&offset={}&extended=1&access_token={}&v=5.131'.format(owner_id, domain, 0, token)
    page = requests.get(url).text
    response = json.loads(page)['response']
    count = int(response['count'])
    dict_counts[owner_id] = count
    dict_first_page[owner_id] = pd.json_normalize(response['items'])

In [58]:
publics['count'] = list(dict_counts.values())

In [60]:
publics.to_csv('data/publics.csv', index = False)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [56]:
datalist = list(dict_counts.keys())

if __name__== "__main__":
    freeze_support()
    pool = Pool()
    ITERATION_COUNT = cpu_count()-1 if len(datalist) >= cpu_count()-1 else len(datalist)

    count_per_iteration = len(datalist) / float(ITERATION_COUNT)

    for i in range(0, ITERATION_COUNT):
        list_start = int(count_per_iteration * i)
        list_end = int(count_per_iteration * (i+1))
        pool.apply_async(get_wall, [datalist[list_start:list_end]])

HBox(children=(FloatProgress(value=0.0, max=106.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=45.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=24.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=2.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=5.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

In [63]:
df_posts = pd.concat(df_pages, ignore_index = True).drop_duplicates(['date', 'id', 'domain'])

In [64]:
df_posts.shape

(23083, 53)

In [65]:
df_posts['date'] = pd.to_datetime(df_posts.date, unit='s')+datetime.timedelta(hours = 3)

In [66]:
df_posts

,id,from_id,owner_id,date,marked_as_ads,post_type,text,is_pinned,attachments,short_text_rate,...,geo.place.address,geo.place.category,geo.place.city,geo.place.country,geo.place.category_object.id,geo.place.category_object.title,geo.place.category_object.icons,post_source.data,geo.showmap,post_source.url
0,5449,-83958801,-83958801,2022-03-04 11:15:38,0.0,post,"–ë–æ–ª—å—à–µ –æ —Ä–∞–±–æ—Ç–µ –ì–æ—Ä–æ–¥—Å–∫–æ–π –£–ø—Ä–∞–≤—ã #7, –∞ —Ç–∞–∫–∂–µ –æ...",1.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5469,-83958801,-83958801,2022-03-20 13:03:33,0.0,post,–í—Å–µ—Ö –ø—Ä–∏—á–∞—Å—Ç–Ω—ã—Ö —Å –ø—Ä–∞–∑–¥–Ω–∏–∫–æ–º!,NaN,NaN,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5468,-83958801,-83958801,2022-03-19 22:26:38,0.0,post,,NaN,NaN,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5467,-83958801,-83958801,2022-03-18 21:27:34,0.0,post,–†–∞–±–æ—Ç–∞ –£–ö,NaN,NaN,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5465,-83958801,-83958801,2022-03-18 07:37:38,0.0,post,,NaN,NaN,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23978,39700,-6050194,-6050194,2018-05-01 11:22:08,0.0,post,,NaN,NaN,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23979,39691,-6050194,-6050194,2018-05-01 10:20:00,0.0,post,–ü–æ –ø—É—Ç–∏ –Ω–∞ –†–æ–º–∞–Ω–¥—É —É–ø–∞–ª–∏ —Å—Ç–æ–ª–±—ã\n\nüìã[id2170823...,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23980,39689,-6050194,-6050194,2018-05-01 10:10:00,0.0,post,–üo–¥¬†–ß–µp–µ–øo–≤—Üo–º –∏–∑-–∑a¬†–øo–∑–¥–Ω–µ–≥o —Å–∏–≥–Ωa–ªa o¬†–øo–∂ap–µ...,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23981,39682,-6050194,-6050194,2018-05-01 09:41:51,0.0,post,üìã[id82798941|–ì–∞–ª–∏–Ω–∞ –°–∏–¥–æ—Ä–æ–≤–∞],NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23982,39678,-6050194,-6050194,2018-05-01 09:15:21,0.0,post,"–ú–∏p, —Çp—É–¥, –ºa–πüòâ",NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df_posts.to_csv('data/vk_posts.csv', index = False)

# –ü—Ä–æ–≤–µ—Ä–∫–∞

In [70]:
df_posts.groupby('domain').count()[['id']].reset_index().merge(publics[['domain', 'count']], how = 'left', on = 'domain')

                domain     id  count
0              che_104    593    593
1         club83958801   1693   1693
2  derevya_cherepovtsa   1168   1168
3               dtpche  10667  10667
4           germanovve   1581   1581
5          komandacher   2404   2404
6    public_happy_city    298    298
7            shagi_che    130    130
8             tos_cher   4549   4549

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [4]:
df_posts = pd.read_csv('data/vk_posts.csv')

C:\Users\yupes\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: DtypeWarning: Columns (43,48,49,52) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df_posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23083 entries, 0 to 23082
Data columns (total 53 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               23083 non-null  int64
 1   from_id                          23083 non-null  int64
 2   owner_id                         23083 non-null  int64
 3   date                             23083 non-null  object
 4   marked_as_ads                    21502 non-null  float64
 5   post_type                        23083 non-null  object
 6   text                             17891 non-null  object
 7   is_pinned                        4 non-null      float64
 8   attachments                      16804 non-null  object
 9   short_text_rate                  23083 non-null  float64
 10  carousel_offset                  5585 non-null   float64
 11  hash                             23083 non-null  object
 12  post_source.platform             4194 non-null   object
 13  post_source.type                 23083 non-null  object
 14  comments.can_post                23083 non-null  int64
 15  comments.count                   23083 non-null  int64
 16  comments.groups_can_post         12416 non-null  object
 17  likes.can_like                   23083 non-null  int64
 18  likes.count                      23083 non-null  int64
 19  likes.user_likes                 23083 non-null  int64
 20  likes.can_publish                23083 non-null  int64
 21  reposts.count                    23083 non-null  int64
 22  reposts.user_reposted            23083 non-null  int64
 23  views.count                      22017 non-null  float64
 24  donut.is_donut                   23083 non-null  bool
 25  copy_history                     5299 non-null   object
 26  edited                           2636 non-null   float64
 27  signer_id                        1466 non-null   float64
 28  domain                           23083 non-null  object
 29  copyright.id                     1236 non-null   float64
 30  copyright.link                   1407 non-null   object
 31  copyright.type                   1407 non-null   object
 32  copyright.name                   1407 non-null   object
 33  geo.type                         6 non-null      object
 34  geo.coordinates                  6 non-null      object
 35  geo.place.created                6 non-null      float64
 36  geo.place.id                     6 non-null      float64
 37  geo.place.is_deleted             6 non-null      object
 38  geo.place.latitude               6 non-null      float64
 39  geo.place.longitude              6 non-null      float64
 40  geo.place.title                  6 non-null      object
 41  geo.place.total_checkins         6 non-null      float64
 42  geo.place.updated                6 non-null      float64
 43  geo.place.address                1 non-null      object
 44  geo.place.category               3 non-null      float64
 45  geo.place.city                   6 non-null      object
 46  geo.place.country                6 non-null      object
 47  geo.place.category_object.id     3 non-null      float64
 48  geo.place.category_object.title  3 non-null      object
 49  geo.place.category_object.icons  3 non-null      object
 50  post_source.data                 11 non-null     object
 51  geo.showmap                      2 non-null      float64
 52  post_source.url                  1 non-null      object
dtypes: bool(1), float64(17), int64(11), object(24)
memory usage: 9.2+ MB

In [9]:
df_posts['hash'].drop_duplicates().shape

(23083,)